$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 80px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@import "compass/css3/font-face";

@include font-face("Mono Social Icons Font", font-files("/fonts/MonoSocialIconsFont-1.10.woff", "/fonts/MonoSocialIconsFont-1.10.ttf", "/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont"), "/fonts/MonoSocialIconsFont-1.10.eot", normal, normal);

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

.bigiconfont{
  font-size : 300%;
  color : #232323;
  text-align: center;
}

.menuitemfont{
  font-size : 150%;
  color : #232323;
  text-align: center;
}

.fullnavbar{
  margin-top: 20px;
  background-color: #D1FAC5;
  -webkit-box-shadow: 0px 8px 7px 0px rgba(50, 50, 50, 0.66);
  -moz-box-shadow:    0px 8px 7px 0px rgba(50, 50, 50, 0.66);
  box-shadow:         0px 8px 7px 0px rgba(50, 50, 50, 0.66);
}

.menuitem {

    // Links rendered as pills
    > a {
      border-radius: 5px;
      color: #232323;
      &:hover{
        text-decoration: none;
        font-weight: bold;
      }
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: red;
        background-color: green;
      }
    }

}

.shizzleleft{
  float: left;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
  margin-bottom: 3px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 240px;
	height: 280px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
  background-color:#CCCCCC;
	position: absolute;
	top: 0;
	left: 0;
  border-radius: 20px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.fronttitle{
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.frontimg{
  text-align:center;
}
