<div class="row bottomspacer">
  <div class="col-lg-12 aboutText">
    You can contact me here:
  </div>
</div>

<div class="row">
    <!-- <div class="socialContact" ng-repeat="social in socialLinks">
      <a href="{{social.link}}" target="_blank">
        <div class="col-lg-2 symbol">
          <div class="bigiconfont">{{social.icon}}</div>
        </div>
      </a>
    </div> -->
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 footericon">

    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 footericon">
      <a target="_blank" href="https://twitter.com/Synisse87">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 footericon">
      <a target="_blank" href="https://plus.google.com/u/0/114999813694368492577">
        <i class="fa fa-google-plus fa-2x footericon"></i>
      </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 footericon">
      <a target="_blank" href="http://www.github.com/Synisse/">
        <i class="fa fa-github fa-2x footericon"></i>
      </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 footericon">
      <a target="_blank" href="https://www.xing.com/profile/Stefan_Krueger67">
        <i class="fa fa-xing fa-2x footericon"></i>
      </a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 footericon">
      <a target="_blank" href="mailto:stefan.krueger@hotmail.de">
        <i class="fa fa-envelope-o fa-2x footericon"></i>
      </a>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 footericon">

    </div>
</div>

<div class="row">
  <div class="col-lg-12 aboutText socialForm">
    or fill in the Contact Form
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
  <div class="alert alert-danger" ng-show="error">
    <button class="close" data-dismiss="alert">x</button>
    <strong>Error!</strong> An error occured while trying to send message.
  </div>
  <div class="alert alert-success" ng-show="success">
    <button class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong> Your message was successfully sent.
  </div>
  <form role="form" name="contactForm">
    <div class="form-group" ng-class="{error: contactForm.name.$invalid}">
      <label class="greyfont">Full Name</label>
      <input class="form-control" type="text" name="name" ng-model="user.name" required="required" placeholder="Your name">
      <span class="help-block" ng-show="contactForm.name.$error.required">Required</span>
    </div>
    <div class="form-group" ng-class="{error: contactForm.email.$invalid}">
      <label class="greyfont">Email</label>
      <input class="form-control" type="email" name="email" ng-model="user.email" required="required" placeholder="Your email address">
      <span class="help-block" ng-show="contactForm.email.$error.required">Required</span>
      <span class="help-block" ng-show="contactForm.email.$error.email">Invalid email address</span>
    </div>
    <div class="form-group" ng-class="{error: contactForm.message.$invalid}">
      <label class="greyfont">Message</label>
      <textarea class="form-control" rows="5" name="message" ng-model="user.body" required="required" placeholder="Your messsage"></textarea>
      <span class="help-inline" ng-show="contactForm.message.$error.required">Required</span>
    </div>
    <button class="btn btn-primary btn-lg btn-block" ng-click="send()" ng-disabled="contactForm.$invalid">Send</button>
  </form>
</div>
<div class="col-lg-12 bottomspacer">

</div>
</div>
